* {
	margin:0;
	padding:0;
}
body  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background: #FFFFFF;
	color: #000000;
}
a {
	color:#2E64FE;
	font-size:12px;
	text-decoration:underline;
}
a:hover {
	color:#FFFFFF;
	font-size:12px;
	text-decoration:none;
}
.logo {
	color:#2E64FE;
	font-size:48px;
	padding:20px 0 0 20px;
}
.logo span {
	color:#2E64FE;	
}
.author {
	padding:0 0 20px 20px;
}
h1 {
	color:#2E64FE;
	font-size:18px;
	font-weight:bold;
	padding:0 0 10px 0;
}
h2 {
	color:#FFFFFF;
	font-size:68px;
	font-weight:bold;
	padding:70px 0 0 70px;
}
h3 {
	color:#FFFFFF;
	font-size:28px;
	font-weight:bold;
	padding:0 0 0 100px;
}
.mainLogo {	
	float:left;
}
.icons {
	float:right;
	padding:40px 20px 0 0;
}
.icons img {
	border:0;
}
#container { 
	width: 800px;  
	margin: 0 auto;
} 
.mainContent {
	padding:20px 20px;
}
.headerPic {
	height:374px;
	width:800px;
	background:url(images/segu1.jpg) no-repeat left top;
	color:#FFFFFF;
}
.headerPic p {
	padding:20px 20px 20px 500px;
}
.mainContent li {
	list-style:none;
	display:inline;
	float:left;
	padding:40px 10px;
}
.mainContent li img {
	border:1px solid #FFFFFF;
}
.sidebarLeft {
	float:left;
	width:470px;
}
.sidebarRigth {
	margin-left:490px;
	border-left:1px solid #2E64FE;
	padding:White 20px;
}
#footer {
	text-align:center;
	height:75px;
	background: #2E64FE;
	
}
#footer p {
	padding:03px 0 0 0;
	color: #ffffff;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
/*MAIN MENU*/
#navcontainer {
	padding:20px 0 170px 0;
}
#navcontainer ul {
	padding-left: 0;
	margin-left: 0;
	background: url(images/menuBackground.jpg) repeat-x left top;
	color: #2E64FE;
	float: left;
	width: 100%;
	height:60px;
}
#navcontainer ul li { 
	display: inline;
	color:#ffffff;
}
#navcontainer ul li a {
	padding:18px 29px 0 30px;

	color: #ffffff;
	text-decoration: none;
	float: left;
	font-size:24px;
}
#navcontainer ul li a:hover {
	background: url(images/menuActive.jpg) repeat-x left top;
	color: #E3F6CE;
	height:60px;
}
#navcontainer #active a {
	
	color: #E3F6CE;
	height:60px;
}
.menuSeparator {
	height:60px;
	width:2px;
	float:left;
}